@media (min-width: 576px) {
  .mt-big-desktop {
    margin-top: 4rem;
  }
}

@media (max-width: 576px) {
  .mt-big-mobile {
    margin-top: 10rem;
  }
}

@media (min-width: 576px) {
  #circles-form-mobile {
  display: none;
  }
}

@media (max-width: 576px) {
  #circles-form-desktop {
  display: none;
  }
}

#circles-form-mobile {
  margin-bottom: 8rem;
}

.mt-big {
  margin-top: 4rem;
}

.mb-big {
  margin-bottom: 4rem;
}

body {
  font-family: "Source Sans Pro";
  color: #333;
  background-color: #fdfdfd
}

h1 {
  font-family: "Lexend Deca";
  font-weight: 400;
  font-size: 36px;
}

h2 {
  font-family: "Lexend Deca";
  font-size: 30px;
  font-weight: 400;
}

.benefit-list {
  font-size: 20px;
  font-weight: 400;
}

.benefit {
  vertical-align: middle;
  display: flex;
  align-items: center;
  margin: 24px 0;
}

.benefit-img {
  float: left;
}

.benefit-text {
  margin-bottom: 0;
}

.hero-image {
  max-height: auto;
  width: 100%;
}

.image-mobile {
  padding: 0 5%;
}

@media (min-width: 576px) {
  .image-full {
  padding: 0 20%;
  margin-top: -100px;
  }
}

@media (max-width: 576px) {
  .image-full {
  margin-top: -50px;
  }
}

#footer a {
  color: #000;
}


/*Mailchimp customization*/

#mc_embed_signup div.mc-field-group input {
  border-radius: 50px;
  border-width: 1px;
  border-color: #0D98BA;
  background-color: #fdfdfd;
  padding: 0.25rem 1rem;
  margin-right: 1rem;
  width: 50%;
}

#mc_embed_signup input:focus {
  outline:none;
}

#mc_embed_signup input.button {
  background-color: #0D98BA;
  border-radius: 50px;
  border: 1px;
  border-color: #0D98BA;
  color: #fff;
  padding: 0.25rem 1rem;
}

#mc_embed_signup input,
#mc_embed_signup input.button {
    float: left;
}